:root {
  --clr-green: #489e93;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background: url('https://images.pexels.com/photos/131683/pexels-photo-131683.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: var(--clr-green);
  font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
  width: .75rem;
}

::-webkit-scrollbar-track {
  background: rgb(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  border-radius: 10rem;
  background: var(--clr-green);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  height: 100vh;
  margin: 0 auto;
  max-width: 40rem;
}

.welcome {}

.text {
  margin: 2rem;
  text-align: center;
  min-width: 30ch;
  max-width: 30ch;
  color: white;
  line-height: 1.4rem;
}

.welcome img {
  border-radius: 100%;
  box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.5);
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  min-width: 30ch;
  max-width: 30ch;
  margin: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  line-height: 2rem;
  font-size: 1.3rem;
  height: 2.4rem;
  background: rgb(72, 158, 147, 0.6);
  box-shadow: 1px 1px 2px rgb(0, 0, 0, 0.4);
  color: white;
  border-radius: 35rem;
  transition: all 0.4s;

}

.btn:hover {
  background: var(--clr-green);
  transform: scale(1.1) translateY(-0.3rem);
}

@media (min-width: 320px) and (max-width: 700px) {

  .btn {
    min-width: 0;
    max-width: none;
    width: 80vw;
    margin: 0.5rem;
    padding: 0;
    height: auto;

  }

  .text {
    min-width: 0;
    max-width: none;
  }

}
