:root {
  --clr-green: #489e93;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background: url('https://images.pexels.com/photos/131683/pexels-photo-131683.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: var(--clr-green);
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
}

::-webkit-scrollbar {
  width: .75rem;
}

::-webkit-scrollbar-track {
  background: rgb(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  border-radius: 10rem;
  background: var(--clr-green);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  height: 100vh;
  margin: 0 auto;
  max-width: 40rem;
}

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.8rem;
}

.row i {
  margin: 0.8rem;
  transition: all 0.4s;
}

.row i:hover {
  transform: scale(2);
}

.text {
  margin: 2rem;
  text-align: center;
  min-width: 30ch;
  max-width: 30ch;
  line-height: 1.8rem;
}


.welcome img {
  border-radius: 100%;
  box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.5);
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  min-width: 30ch;
  max-width: 30ch;
  margin: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  line-height: 2rem;
  height: 2.4rem;
  background: rgb(72, 158, 147, 0.6);
  box-shadow: 1px 1px 2px rgb(0, 0, 0, 0.4);
  border-radius: 35rem;
  transition: all 0.4s;
  cursor: pointer;

}

.btn:hover {
  background: var(--clr-green);
  transform: scale(1.1) translateY(-0.3rem);
}

@media (min-width: 280px) and (max-width: 700px) {

  .btn {
    min-width: 0;
    max-width: none;
    width: 80vw;
    margin: 0.5rem;
    padding: 0;
    height: auto;

  }

  .text {
    min-width: 0;
    max-width: none;
  }

}


/* Modais */
.modal-api {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.666);
  opacity: 0;
  z-index: -100;
  transition: opacity .5s ease-in-out;
  /* background-color: rgba(72, 158, 157, 0.8); */
}

.modal-mostrar {
  z-index: 100;
  opacity: 100%;
}

.modal-conteudo {
  margin: 1.5rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: white;
  background: rgba(72, 158, 157);
  border-radius: 20px;
  max-width: 600px;
}

.modal-fechar {
  position: absolute;
  top: 3px;
  right: 20px;
  cursor: pointer;
  transition: all .5s ease-in-out;
}

.modal-fechar:hover {
  transform: scale(1.5) rotate(360deg);
}


.modal-descricao {
  font-size: 1.3rem;
  line-height: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
}


.modal-lista {
  font-size: 1rem;
  line-height: 1.5rem;
  min-width: 22ch;
}

.modal-lista i {
  padding-right: 0.4rem;
}

ul {
  list-style: none;
}

li {
  transition: all .2s ease-in-out;
}

li:hover {
  transform: translateX(10%);
}

.modal-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.modal-col {

}


.modal-thumb {
  text-align: center;
}

.modal-thumb img {
  margin: 20px;
  border-radius: 10px;
  box-shadow: 3px 3px 10px black;
  transition: all .5s ease-in-out;
}

.modal-thumb img:hover {
  transform: scale(1.1);
}


.modal-link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  margin: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  line-height: 2rem;
  height: 2.4rem;
  background: rgb(72, 158, 147, 0.6);
  box-shadow: 1px 1px 2px rgb(0, 0, 0, 0.4);
  border-radius: 35rem;
  transition: all 0.5s;

}

.modal-link:hover {
  background: var(--clr-green);
  transform: scale(1.1) translateY(-0.3rem);
}
