:root {
  --charcoal: #274156;
  --cerulean: #1c6e8c;
  --wenge: #605856;
  --white: #fbfcff;
  --gray: #d0ccd0;

  --transition-time: 0.4s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background: url("../img/bg.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: var(--white);
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  background-color: var(--cerulean);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10vh;
}

::-webkit-scrollbar {
  width: 0.75rem;
}

::-webkit-scrollbar-track {
  background: var(--cerulean);
}

::-webkit-scrollbar-thumb {
  border-radius: 10rem;
  background: var(--charcoal);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  max-width: 40rem;
}

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.8rem;
}

.row i {
  margin: 0.8rem;
  transition: all var(--transition-time);
}

.row i:hover {
  transform: scale(2);
}

.text {
  margin: 2rem;
  margin-top: 0rem;
  text-align: center;
  min-width: 30ch;
  max-width: 30ch;
  line-height: 1.8rem;
}

.welcome img {
  border-radius: 100%;
  box-shadow: 3px 3px 20px var(--white);
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  min-width: 30ch;
  max-width: 30ch;
  margin: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  line-height: 2rem;
  height: 2.4rem;
  background-color: var(--cerulean);
  opacity: 0.8;
  border-radius: 35rem;
  border: 0.5px solid var(--white);
  transition: all var(--transition-time);
  cursor: pointer;
}

.btn:hover {
  filter: brightness(140%);
  box-shadow: 0px 2px 10px var(--white);
  border: 0px;
  transform: scale(1.1) translateY(-0.3rem);
}

@media (min-width: 280px) and (max-width: 700px) {
  .btn {
    min-width: 0;
    max-width: none;
    width: 80vw;
    margin: 0.5rem;
    padding: 0;
    height: auto;
  }

  .text {
    min-width: 0;
    max-width: none;
  }

  .modal-content {
    position: absolute !important;
    top: 0 !important;
  }
}

.modal-corporate,
.modal-blog,
.modal-game,
.modal-api,
.modal-land,
.modal-landprof,
.modal-micro,
.modal-dash,
.modal-qr {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  z-index: 100;
  transition: all var(--transition-time) ease-in-out;
  padding-top: 2rem;
}

.modal-show {
  opacity: 100%;
  visibility: visible;
}

.modal-content {
  margin: 1.5rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--cerulean);
  border: 0.5px solid var(--white);
  border-radius: 20px;
  max-width: 600px;
}

.modal-close {
  position: absolute;
  top: 3px;
  right: 20px;
  cursor: pointer;
  transition: all var(--transition-time) ease-in;
}

.modal-close:hover {
  transform: scale(1.5) rotate(360deg);
}

.modal-description {
  font-size: 1.3rem;
  line-height: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
}

.bar {
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  content: "";
  height: 1px;
  width: 100%;
  background-color: var(--white);
}

.modal-list {
  font-size: 1rem;
  line-height: 1.5rem;
  min-width: 22ch;
  display: flex;
  gap: 1.5rem;
}

.modal-list i {
  padding-right: 0.4rem;
}

ul {
  list-style: none;
}

li {
  transition: all calc(var(--transition-time) / 2) ease-in;
  cursor: default;
}

li:hover {
  transform: translateX(10%);
}

.modal-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.modal-col {
  display: flex;
  flex-direction: column;
}

.modal-thumb {
  text-align: center;
  border-radius: 10px;
}

.modal-thumb-caption {
  margin-top: -10px;
  text-align: center;
  font-size: 0.8rem;
  font-style: italic;
}

.modal-thumb img {
  margin: 20px;
  border-radius: 10px;
  box-shadow: 3px 3px 10px var(--white);
  transition: all calc(var(--transition-time) / 2) ease-in;
}

.modal-thumb img:hover {
  transform: scale(1.1);
}

.modal-link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  margin: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  line-height: 2rem;
  height: 2.4rem;
  background-color: var(--cerulean);
  border: 0.5px solid var(--white);
  border-radius: 35rem;
  transition: all var(--transition-time);
  width: 15ch;
}

.modal-link:hover {
  filter: brightness(140%);
  box-shadow: 0px 2px 10px var(--white);
  border: 0px;
  transform: scale(1.1) translateY(-0.3rem);
}

.modal-link {
  width: auto;
}

.hidden {
  display: none;
}

.space {
  margin-bottom: 1rem;
}
