
/* Fonte Kumbh Sans do Google */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');

/* Variáveis CSS */
:root {
  --altura-h: 3rem;

  /* Cores */
  --cor-primaria: #FDA7DF;
  --cor-primaria-escuro:#D980FA;
  --cor-primaria-mais-escuro: #B53471;
  --cor-branco: #FCF8F8;
  --cor-cinza: #777;
  --cor-cabecalho: #fa93b1;

  /* Fonte e tipografia */
  --fonte-corpo: 'Kumbh Sans', sans-serif;
  --fonte-grande: 2.5rem;
  --fonte-normal: 0.938rem;

  /* índice Z */
  --z-fixo: 100;
}

@media screen and (min-width: 768px) {
  :root {
    --fonte-grande: 5rem;
    --fonte-normal: 1rem;
  }
}



::-webkit-scrollbar {
  width: .4rem;
}

::-webkit-scrollbar-track {
  background: var(--cor-primaria);
  opacity: 10%;
}

::-webkit-scrollbar-thumb {
  border-radius: 10rem;
  background: var(--cor-primaria-escuro);
}

/* Configurações de Base */

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  scrollbar-color: var(--cor-primaria-escuro) var(--cor-primaria);
}

*,::before,::after {
  box-sizing: border-box;
}

body {
  margin: var(--altura-h) 0 0 0;
  padding: 0;
  font-family: var(--fonte-corpo);
  font-size: var(--fonte-normal);
  font-weight: 500;

  background: url("../img/bg.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: var(--cor-cabecalho);

  min-width: 280px;

}

h1,p,ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  transition: all .5s;
}

img {
  max-width: 100%;
  height: auto;
}


/* LAYOUT */
.bd-grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns : 100%;
  column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: 1rem;
  margin-right: 1rem;
}

.cabecalho {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixo);
  transition: box-shadow 0.5s;
}

.cor-escura {
  background-color: var(--cor-cabecalho);
  box-shadow: 2px 2px 10px rgb(0, 0, 0, 0.2);
}

/* BARRA DE NAVEGAÇÃO  */
.nav {
  height: var(--altura-h);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .menu-conteudo {
    position: fixed;
    top: 0;
    right: -100%;
    width: 20ch;
    height: 100%;
    padding: 3.5rem 1.5rem 0;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    transition: .5s;
  }

  a.anchor {
      top: calc(-1 * (var(--altura-h) - 1rem)) !important;
  }

  .logo i{
    display: none;
  }

  .contatos-container {
    width: 80%;
  }

  .contatos-texto {
    margin: 0 auto !important;
    align-items: stretch !important;
  }

  .contatos-mapa iframe{
    width: 80% !important;
  }

}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  height: 40px;
  transition: transform 1000ms;
}

.logo a {
  margin-left: 1rem;
}

.logo a:hover {
  color: var(--cor-primaria-escuro);
}

a.anchor {
    display: block;
    position: relative;
    top: calc(-1 * (var(--altura-h) + 2.2rem));
    visibility: hidden;
}

.nav-fechar {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.nav-item {
  margin-bottom: 2rem;
}

.nav-fechar, .nav-link, .logo, .menu-bot, .logo a {
  color: var(--cor-branco);
}

.nav-link:hover {
  color: var(--cor-primaria-escuro);
}

.menu-bot {
  font-size: 1.5rem;
  cursor: pointer;
}

/* MOSTRA O MENU */

.mostrar {
  right: 0;
}



/* HOME - PRINCIPAL */
.home {
  display: grid;
  width: 100vw;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /* background-color: var(--cor-primaria); */
}


.home-container {
  height: calc(100vh - var(--altura-h));
  grid-template-rows: repeat(2, max-content);
  row-gap: 1.5rem;
}


.home-img {
  position: relative;
  padding-top: 1.5rem;
  justify-content: center;
  width: 280px;
  height: 280px;
}

.home-img img {
  position: absolute;
  top: 0;
  left: 0;
}

.home-conteudo {
  color: var(--cor-branco);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home-titulo {
  font-size: var(--fonte-grande);
  line-height: 1.3;
  margin-bottom: 1rem;
}

.home-descricao {
  margin-bottom: 2.5rem;
}

.home-botao {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  background-color: var(--cor-primaria-escuro);
  color: var(--cor-branca);
  padding: 1.125rem 2rem;
  border-radius: 1.5rem;
}

.home-botao:hover {
  background-color: var(--cor-primaria-mais-escuro);
}

/* SETAS (para baixo e para o topo) */
.seta {
  position: absolute;
  bottom: 2rem;
  right: 0.8rem;
  font-size: 3rem;
  color: white;
  opacity: 1;
  transition: color .5s, opacity .5s, visibility .5s, transform .5s;
  visibility: visible;
}

.seta.no-show {
  opacity: 0;
  visibility: hidden;
}

.seta a {
  color: var(--cor-branco);
}

.seta-topo {
  display: inline-block;
  font-size: 3rem;
  text-align: center;
  position: fixed;
  bottom: 2rem;
  right: 0.8rem;
  transition: color .5s, opacity .5s, visibility .5s, transform 1s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  color: var(--cor-branco);
}

.seta-topo:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.seta-topo.show {
  opacity: 1;
  visibility: visible;
}

.seta-topo a {
  color: var(--cor-branco);
}

/* CONTEUDO FLEX */
.conteudo-flex {
  display: flex;
  flex-direction: column;
}

/* SABORES */

.sabores {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  /* background-color: var(--cor-primaria); */
}

.sabores-titulo {
  height: 10%;
  width: 100%;
  text-align: center;
  color: var(--cor-branco);
  font-size: var(--fonte-grande);
  margin: 0;
  margin-top: 2rem;
  padding: 0;
}

.sabores-container {
  min-height: calc(70vh - var(--fonte-grande));
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.sabores-card {
  margin: 0.5rem;
  margin-bottom: 2rem;
  padding: 0;
  height: 28rem;
  width: 15rem;
  background-color: white;
  transition: all 500ms;
  border-radius: 20px;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.3);

}

.sabores-card:hover {
  transform: scale(1.05) translateY(-10px);
}

.card-img {
  height: 70%;
  border-radius: 20px 20px 0px 0px;
}

.card-img img {
  height: 100%;
  width: 100%;
  margin: auto;
  display: block;
}

.card-titulo {
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
  color: var(--cor-cinza);
}

.card-descr {
  padding: 1rem;
  color: var(--cor-cinza);
}


/* DEPOIMENTOS */
.depoimentos {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  /* background-color: var(--cor-primaria); */
}

.depoimentos-titulo {
  height: 10%;
  width: 100vw;
  text-align: center;
  color: var(--cor-branco);
  font-size: var(--fonte-grande);
  margin: 0;
  margin-top: 2rem;
  padding: 0;
}

.depoimentos-container {
  min-height: calc(70vh - var(--altura-h));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}


.dep-card {
  margin: 2rem;
  margin-bottom: 2rem;
  padding: 0;
  height: 20rem;
  width: 15rem;
  background-color: white;
  transition: all 500ms;
  border-radius: 20px;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.3);
  position: relative;
}

.dep-card:hover {
  transform: scale(1.05) translateY(-10px);
}

.dep-texto {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1.66rem;
  padding: 2rem;
  height: 70%;
  border-radius: 20px 20px 0 0 ;
  position: relative;
  color: var(--cor-cinza);
}

.aspas {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 5rem;
  color: rgba(0, 0, 0, 0.1);
}

.dep-foto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  height: 100px;
  width: 100px;
  border-radius: 100%;
  border: solid white 0.4rem;
  overflow: hidden;
}

.dep-foto img {
  height: 100%;
  width: 100%;
  margin: auto;
}

.dep-nome {
  height: 30%;
  text-align: center;
  text-transform: uppercase;
  background: #800080;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #ffc0cb, #800080);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #ffc0cb, #800080); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 0 0 20px 20px;
}

.dep-nome-texto {
  color: white;
  text-align: center;
  position: relative;
  top: 55%;
  font-size: 1.2rem;
}


/* CONTATO */
.contatos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  /* background-color: var(--cor-primaria); */
}

.contatos-titulo {
  height: 10%;
  width: 100vw;
  text-align: center;
  color: var(--cor-branco);
  font-size: var(--fonte-grande);
  margin: 0;
  margin-top: 2rem;
  margin-bottom: 4rem;
  padding: 0;
}

.contatos-container {
  height: calc(80vh - var(--fonte-grande));
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.contatos-texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 2rem;
  margin-left: 2rem;
  text-align: left;
  font-size: var(--fonte-normal);
  color: var(--cor-branco);
  line-height: 3rem;
}

.contatos-texto i {
  padding: 1rem;
}

.social {
  text-align: center;
  font-size: 3rem;
}

.contatos-texto a {
  color: var(--cor-branco);
}

.contatos-texto a:hover {
  color: var(--cor-primaria-escuro);
}


.contatos-mapa {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contatos-mapa iframe{
  border-radius: 3rem;
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.3);
  height: 40vh;
  width: auto;
  margin-bottom: 2rem;
}



/* MODAL DO PEDIDO */
.modal-pedido {
  display: block;
  position: fixed;
  z-index: 999;
  padding-top: 100px;
  top: -100%;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0, 0.4);
  transition: .5s ease-in-out;
}

.modal-mostrar {
  left: 0;
  top: 0;
}

.modal-conteudo {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #777;
  width: 300px;
  color: black;
  transition: all 200ms;
  text-align: left;
  line-height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: justify;
  color: var(--cor-primaria-escuro);
}

.modal-fechar {
  right: 0.4rem;
  top: 0.4rem;
  position: absolute;
  line-height: 100%;
  text-align: center;
  width: 2ch;
  border-radius: 10rem;
  border: solid var(--cor-primaria-escuro) 2px;
  cursor: pointer;
  transition: ease .2s;
}

.modal-fechar:hover {
  transform: scale(1.4);
}


.modal-conteudo input, textarea, button, hr {
  font-family: inherit;
  font-size: inherit;
  text-align: center;
  line-height: 1.2rem;
  color: var(--cor-primaria-escuro);
  border: solid var(--cor-primaria-escuro) 1px;
  border-radius: 10px;
}

.modal-conteudo input:focus, textarea:focus {
    border: 1px solid var(--cor-primaria);
    box-shadow: 0 0 3px var(--cor-primaria);
    outline-offset: 0px;
    outline: none;
}

.modal-nome {
  width: 100%;
}

.modal-conteudo button {
  color: white !important;
  width: 100%;
  background-color: var(--cor-primaria-escuro);
  color: var(--cor-branca);
  padding: 1.125rem 2rem;
  border-radius: 1.5rem;
  transition: ease .5s;
}

.modal-conteudo button:hover {
  background-color: var(--cor-primaria-mais-escuro);
}

.modal-conteudo button:focus {
  outline: none;
  box-shadow: none;
}


.modal-conteudo textarea {
  width: 100%;
  height: 10ch;
}

.modal-label {

}

.row {
  display: flex;
  justify-content: space-between;
  margin: 0.4rem;
  flex-wrap: wrap;
}

.modal-label {
  padding-right: 0.5rem;
}

.modal-qtd {
  position: block-inline;
  right: 0%;
  width: 8ch;
}


.erro {
  border: solid red 2px;
}

.flash {
  display: none;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  background: var(--cor-primaria-escuro);
  color: var(--cor-branco);
}

.flash-mostra {
  display: block;
}


/* MEDIA QUERYS */
@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }

  .nav {
    height: calc(var(--altura-h) + 1.5rem);
  }

  .nav-fechar,.menu-bot {
    display: none;
  }

  .nav-lista {
    display: flex;
  }

  .nav-item {
    margin-left: 3rem;
    margin-bottom: 0;
  }

  .home-container {
    height: 100vh;
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: 1fr;
    row-gap: 0;
    align-items: center;
    justify-content: center;
  }

  .home-img {
    order: 1;
    width: 350px;
    height: 350px;
  }

  .home-img img {
    width: 350px;
  }

  .anchor {
        top: calc(-1 * (var(--altura-h))) !important;
  }

}

@media screen and (min-width: 1024px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }

  .home-container {
    justify-content: initial;
    column-gap: 4.5rem;
  }

  .home-img {
    width: 600px;
    height: 600px;
  }

  .home-img img {
    width: 600px;
  }

  .anchor {
        top: calc(-1 * (var(--altura-h) )) !important;
  }

  .sabores-titulo {
    margin-bottom: 0rem;
  }

}
